[submodule "2024"]
	path = 2024
	url = git@github.com:kermitnirmit/Advent-of-Code-2024.git
	branch = main
[submodule "2023"]
	path = 2023
	url = git@github.com:kermitnirmit/Advent-of-Code-2023.git
	branch = main
[submodule "2022"]
	path = 2022
	url = git@github.com:kermitnirmit/Advent-of-Code-2022.git
	branch = master
[submodule "2021"]
	path = 2021
	url = git@github.com:kermitnirmit/Advent-of-Code-2021.git
	branch = master
[submodule "2020"]
	path = 2020
	url = git@github.com:kermitnirmit/Advent-of-Code-2020.git
	branch = master
[submodule "2015"]
	path = 2015
	url = git@github.com:kermitnirmit/Advent-of-Code-2015.git
	branch = master
[submodule "2016"]
	path = 2016
	url = git@github.com:kermitnirmit/Advent-of-Code-2016.git
	branch = master
[submodule "2018"]
	path = 2018
	url = git@github.com:kermitnirmit/Advent-of-Code-2018.git
	branch = main
[submodule "2017"]
	path = 2017
	url = git@github.com:kermitnirmit/Advent-of-Code-2017.git
	branch = main
[submodule "2019"]
	path = 2019
	url = git@github.com:kermitnirmit/Advent-of-Code-2019.git
	branch = master
